$sideBarWidth: 200px;

#userPage {

	.sidebar {
		display: inline-block;
		position: absolute;
		color: #D2D5D6;
		height: 100%;
		width: $sideBarWidth;
		background: #222;
		
		ul {
			list-style: none;
			padding: 0;
			
			/*li {
				padding: 8% 25%;
			}*/

			.active {
				background: black;
				color: white;
			} 

			a {
				padding: 8% 25%;
				display: block;
				text-decoration: inherit;
				color: inherit;
			}

			a:hover {
				background: black;
				color: white;
			}

		}

	}

	.container {
		left: $sideBarWidth;
		width: 100%;
		text-align: center;
		position: absolute;

	}	
}