.jumbotron {
  background-image: url('/scss/home/FireFrame3.png'), url('/scss/home/gridme.png');
  background-repeat: no-repeat, repeat;
  background-position: center center, center center;
  background-size: 40em, 2em;
  background-color: $bonegrey;
  background-blend-mode: darken, multiply;
  height: 35.5em;
  margin: 0;
  h1 {
    margin-top: 20px;
    text-align: center;
    font-size: 4em;
    @media (min-width: 600px) {
      margin-top: 40px;
      font-size: 6em;
    }
  }
  p {
    font-size: 2em;
    text-align: center;
    font-weight: 300;
    @media (min-width: 600px) {
      font-size: 2.5em;
    }
  }
}

.homerow {
  margin: 0;
}

#vctree {
  padding-left: 8%;
}

.img-responsive {
  height: 30em;
  display: block;
  padding: 0;
  margin: 0;
}

.wfdescription {
  text-align: center;
  vertical-align: center;
}

.homeinfo {
  margin-left: 12%;
  margin-right: 10%;
  text-align: center;
}


.movedown {
  margin-top: 20%;
}

.moveright {
  margin-right: 12%;
}

.homeinfotwo {
  margin-right: 20%;
  margin-left: 5%;
  text-align: center;
}

.footer-basic-centered {
  height: 70px;
  width: 100%;
  margin: auto 0;
  padding: auto 0;
  margin-top: 0;
}

.infofooter {
  padding: 0;
  margin: 0;
}

.padleft {
  padding-left: 42%;
}

.footer-info {
  text-align: center;
  margin: auto 0;
  padding-top: 25px;
  color: $sunshine;
  display: inline-block;
  list-style-type: none;
  float: left;
  width: auto;
  height: auto;
  position: relative;
}

.logofooter {
  display: inline-block;
  float: center;
  height: 40px;
  width: auto;
}