<!-- <div class="row" id="newProject">
	<div class="col-md-10"> -->
<md-dialog>
	<md-dialog-content>
		<h1>NEW PROJECT</h1>
		<md-content layout-gt-md="row" layout-padding>
    	<div>
				<md-input-container class="md-block" flex-gt-md>
          <label>Project Name</label>
          <input ng-model="projectName">
        </md-input-container>
			
				<md-input-container class="md-block" flex-gt-md>
          <label>Description</label>
          <input ng-model="projectDescription">
        </md-input-container>

	      <md-input-container class="md-block" flex-gt-md>
          <md-select placeholder="Team" ng-model="projectTeam">
      			<md-option ng-value="team" ng-repeat="team in user.teams">{{team.name}}</md-option>
    			</md-select>
        </md-input-container>
	      
	      <br>

      	<md-content>
      		<md-button class="md-raised md-primary" ng-hide="formShow" ng-click="showTeamAdd()">Add New Team</md-button>
      		<md-button class="md-raised md-warn" ng-show="formShow" ng-click="cancelTeam()">Cancel Team</md-button>
				</md-content>
			</div>
		</md-content>

		<md-content layout-gt-sm="row" layout-padding id="teamForm" ng-show="formShow">
    	<div>
				<md-input-container class="md-block">
          <label>Team Name</label>
          <input ng-model="teamName">
        </md-input-container>
				
        <md-input-container class="md-block">
          <label>Member Email</label>
          <input ng-model="member" class="md-raised md-primary" ng-enter="addMember()">
          <md-button class="btn" ng-click="addMember()">Add Member</md-button>
        </md-input-container>

				<p ng-show="teamMembers.length > 0">Team Members:</p>
				<p ng-repeat="member in teamMembers">{{member}}</p>

				<md-button class="md-raised md-default" ng-click="addTeam()">Add Team</md-button>
			</div>
		</md-content>

		<md-content layout-gt-sm="row" layout-padding>
			<md-button ng-click="addProject()" id="newProjectSubmit" flex="35" class="md-raised md-primary">Create New Project</md-button>
		</md-content>
	</md-dialog-content>
</md-dialog>

	</div>
</div>