<div class="row">
	<div class="col-xs-12 text-center project-header">
		<h2>{{ project.name }}</h2>
		<hr>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-8 col-md-7 col-md-offset-1">
		<h4 class="wireframe-header">Active Wireframe
				<small class="pull-right">(Date Created: {{active.createdAt | date: 'short'}})</small>
		</h4>

		<div class="image-buffer">
			<img id="activeSnapshot" ng-src="{{ active.screenshotUrl }}">
		</div>
		<br><br>
		<div id="project-btns">
			<button class="btn btn-steel" ng-click="forkFrame()">Create Fork</button>
			<button class="btn btn-sunshine" ng-show="currentEdit()" ng-click="joinRoom()">Join Editing</button>
			<a class="image-download pull-right" download="{{ active._id }}.png" href="{{ active.screenshotUrl }}"><button class=" btn btn-steel">Download Image</button></a>
			<button class="btn btn-sunshine pull-right" ng-hide="isMaster()" ng-click="setMaster()">Set Master</button>
		</div>
		<br>
		<br>
		<div class="panel panel-info">
  		<div class="panel-heading panel-steel">Project Discussion</div>
			<div class="panel-body">
				<ul class="media-list">
					<li ng-repeat="comment in project.comments" class="media">
						<div class="media-body">
							<div class="media">
                <div class="media-body">
                  {{ comment.content }}
                  <br>
                 	<small class="text-muted">{{ (comment.user.firstName + ' ' + comment.user.lastName) }} | {{ comment.time | date }}</small>
                  <hr>
                </div>
            	</div>
        		</div>
    			</li>
        </ul>  
    	</div>
			<div class="panel-footer">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Add to the Conversation" ng-model="newComment">
					<span class="input-group-btn">
            <button class="btn btn-sunshine" type="button" ng-click="addComment()">Submit</button>
          </span>
        </div>
			</div>
		</div>
	</div>
		<!-- <div class="panel-group" id="accordion">
    	<div class="panel panel-default" id="panel1">
        <div class="panel-heading">
        	<h4 class="panel-title">
        		<a data-toggle="collapse" data-target="#collapseOne" 
       			href="#collapseOne">Project Details</a>
     			</h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">
            <table id="projectDetails">
							<tr>
								<th>Project Name: </th>
								<td>{{project.name}}</td>
							</tr>
							<tr>
								<th>Description: </th>
								<td>{{project.description}}</td>
							</tr>
							<tr>
								<th>Team Name: </th>
								<td>{{project.team.name}}</td>
							</tr>
							<tr>
								<th>Team Admin: </th>
								<td>{{project.team.administrator.firstName}}</td>
							</tr>
							<tr>
								<th>Team Members: </th>
								<td ng-repeat="member in project.team.members">{{member.firstName}}</td>
							</tr>
							<tr>
								<th>Created On: </th>
								<td>{{project.created_at | date:'medium'}}</td>
							</tr>
							<tr>
								<th>Last Updated: </th>
								<td>{{project.updated_at | date:'medium'}}</td>
							</tr>
	          </table>
					</div>
		    </div>
	   	</div>
  	</div> --><!-- closes panel -->
	
	<div class="col-xs-12 col-sm-4 col-md-3" id="revisionControlPanel">
		<ul class="nav nav-tabs nav-justified" role="tablist">
		  <li role="presentation" id="goAlternate" ng-click="goAlt()" class="active">
		  	<a href="#alternate" role="tab" data-toggle="tab">Alternate</a>
		  </li>
		  <li role="presentation" id="goHist" ng-click="goHistory()">
		  	<a href="#history" role="tab" data-toggle="tab">History</a>
		  </li>
  	</ul>

  	<ul class="framesList" ng-show="showHistory">
	  	<li class="masterScreenshot" ng-click="changeActive(master)">
	  		<h5>Master</h5>
	  		<img class="img-responsive project-img" ng-src="{{ master.screenshotUrl }}">
	  		<label>{{master.updatedAt | date: 'short'}}</label>
		  </li>
			<li class="individualFrame"
					ng-repeat="frame in history | orderBy:'updatedAt':true"
					ng-click="changeActive(frame)">
					<img class="img-responsive project-img"
							 ng-src="{{ frame.screenshotUrl || 'http://qvartz.com/wp-content/uploads/2015/05/Image_placeholder_4-3.png' }}">
					<label>{{frame.updatedAt | date: 'short'}}</label>
			</li>
		</ul>

		<ul class="framesList" ng-hide="showHistory">
			<li class="masterScreenshot" ng-click="changeActive(master)">
	  		<h5>Master</h5>
	  		<img class="img-responsive project-img" ng-src="{{ master.screenshotUrl }}">
	  		<label>{{master.updatedAt | date: 'short'}}</label>
		  </li>
			<li class="individualFrame"
					ng-repeat="frame in altBranches | orderBy:'updatedAt':true"
					ng-click="changeActive(frame)">
					<img class="img-responsive project-img" 
							 ng-src="{{ frame.screenshotUrl || 'http://qvartz.com/wp-content/uploads/2015/05/Image_placeholder_4-3.png' }}">
				<label>{{frame.updatedAt | date: 'short'}}</label>
			</li>
		</ul>
	</div><!-- closes control panel -->
</div>