<div class="container-fluid projectPage">
	<div class="row">
		<h1>PROJECTS</h1>
	</div>

	<div class="row">
		<form class="form-inline">
			<div class="form-group">
		    <input type="text" class="form-control" placeholder="Search" ng-model="search">
		  </div>
		</form>
	</div>

	<div class="row">
		<div class="projectBox boxActive col-md-3" ng-repeat="project in projects | filter:search" ui-sref="dashboard.project({id:project._id})">
			<img src="{{project.master.screenshotUrl}}">
			<h3>{{project.name}}</h3>
			<h4>{{project.creator.email}}</h4>
		</div>
	</div>
</div>