<div class="row">
	<h1>TEAMS</h1>
	<form class="form-inline">
		<div class="form-group">
	    <input type="text" class="form-control" placeholder="Search" ng-model="search">
	  </div>
	</form>
</div>

<br>

<div>
  <accordion>
    <accordion-group ng-repeat="team in teams" heading="{{team.name}}  " is-open="group.open" class="accordion-team-group">
    <ul class="list-unstyled">
    	<li><strong>Admin: </strong>{{team.administrator.firstName}} {{team.administrator.lastName}}</li>
    	<li ng-repeat="member in team.members | filter: search">{{ member.firstName }} {{ member.lastName }}</li>
    </ul>
    </accordion-group>
  </accordion>
</div>
