@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);

.push{
  padding-top: 2.5%;
}

.txt-shade {
  text-shadow: 3px 0px 10px rgba(0,0,0,0.3);
}

.bg-bone {
  background-color: $bonegrey;
}

.bg-oatmeal {
  background-color: #FCF2D4;
}

.bg-steelblue {
  background-color: $steelblue;
}

.bg-sunshine{
  background-color: $sunshine;
}

.bg-coalgrey {
  background-color: $coalgrey;
}

.bg-lightgrey {
  background-color: #d3d3d3;
}

.bone {
  color: $bonegrey;
}

.steelblue {
  color: $steelblue;
}

.sunshine{
  color: $sunshine;
}

.coalgrey {
  color: $coalgrey;
}


