$left-width: 10vw;

.active-component {
  border: 2px solid gray;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px gray;
}

*{
  box-sizing:border-box;
}

#main {
  *:focus {
    outline: none;
  }
}

#wrapper {
  position:relative;
  height: 100%;
  width: 100vw;
}

input {
  width: 100%;
}

#left-sidebar {
  position: absolute;
  left: 0;
  top:0;
  width: $left-width;
  height: 100%;
  background-color: $bonegrey;
  overflow: scroll;
}

#color-picker {
  height:$left-width;
  width:$left-width;
}

#right-sidebar {
  position: absolute;
  right: 0;
  top:0;
  width: 10vw;
  height: 100%;
  background-color: $bonegrey;
  overflow: scroll;
}

$swatch-side: $left-width / 10;
#swatch {
  height:$swatch-side;
  width:$swatch-side;
  border:1px solid black;
}

#wireframe-board {
  position: absolute;
  overflow:auto;
  left: 10vw;
  top:0;
  width: 80vw;
  height: 100%;
  background-color: #ffffff;
  transform-origin: 0 0;
  background-size: 15px 15px;
  background-image: linear-gradient(to right, #ceeade 1px, transparent 1px), linear-gradient(to bottom, #ceeade 1px, transparent 1px);
}

#phantom-board {
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  background: white !important;
}

.tool-panel {
  padding:10%;
  /*background-color:#aaa;*/
  margin:2%;
  margin-top: 4px;
  background-color: #f2f3f7;
  border: 1px solid #d2d4e0;
}

.btn-editor {
  border-radius: 1px;
  text-align: center;
  padding: 10px 0;
  margin: 2px;
}

.btn-blue {
  background-color: $steelblue;
  color: white;
  border: 1px solid $steelblue;
  box-shadow: inset 0 1px 0 $steelblue,0 1px 1px rgba(41,45,51,.1);
  background-color: $steelblue;
  &:hover {
    color: white;
    background-color: $steelblue;
    background: linear-gradient(to bottom,$steelblue, #3d667c);
  }
  /*&:active {
    box-shadow: inset 0 1px 3px rgba(41,45,51,.2),0 1px 0 rgba(255,255,255,.5);
    background: #e7e8ef;
  }*/
}

.btn-save {
  background-color: $sunshine;
  color: white;
  margin: 5px;
}

.delete-hoverable .hover-delete-btn {
  position: absolute;
  float: right;
  margin-top: 2px;
  margin-right: 2px;
  color: red;
  background-color: #313841;
  display: none;
  border-style: 1px solid #242424;
  font-size: 14px !important;
}

.resize-drag:hover {
  button {
    display: block !important;
  }
}

$btn-side: .47 * $left-width;

.component-button {
  box-sizing:border-box;
  /*border:0;*/
  /*border-radius:3%;*/
  /*background-color:#ddd;*/
  margin:0.2vw 0.0vw 0.0vw 0.1vw;
  width: $btn-side;
  height: $btn-side;
  border-radius: 1px;
  border: 1px solid #c5cad9;
  box-shadow: inset 0 1px 0 white,0 1px 1px rgba(41,45,51,.1);
  background: linear-gradient(to bottom,#fff,#e7e8ef);
  &:hover {
    background-color: #fff;
    background: linear-gradient(to bottom,#fff,#DCDDE2);
  }
  &:active {
    box-shadow: inset 0 1px 3px rgba(41,45,51,.2),0 1px 0 rgba(255,255,255,.5);
    background: #e7e8ef;
  }
}

.btn-colorpicker{
  margin-top:3px;
  padding:0.25vw 0.7vw;
  font-size:1vw;
}

.btn-arrange {
  width:95%;
  padding: 10px 0;
  margin-bottom:2%;
  font-size:0.9vw;
}

.button-icon {
  height:0.5 * $btn-side;
  top:0.25 * $btn-side;
}

.btn-delete {
  color: black;
  border: 2px solid black;
  background-color: #FFB709;
}

.uploadBtn {
  width: 80px;
}

button{
  &:hover{
    background-color:$liquid;
  }

  &:active{
    background-color:$warm;
  };
}
/*

.fileUpload {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  height: 100%;
  text-align: center;
}
*/
