$left-width: 10vw;

*{
  box-sizing:border-box;
}
#wrapper {
  position:relative;
  height:95vh;
  width: 100vw;
}

#left-sidebar {
  position: absolute;
  left: 0;
  top:0;
  width: $left-width;
  height: 100%;
  background-color: gray
}

#color-picker {
  height:$left-width;
  width:$left-width;
}

#right-sidebar {
  position: absolute;
  right: 0;
  top:0;
  width: 10vw;
  height: 100%;
  background-color: gray
}

$swatch-side: $left-width / 10;
#swatch {
  height:$swatch-side;
  width:$swatch-side;
  border:1px solid black;
}

#wireframe-board {
  position: absolute;
  overflow:auto;
  left: 10vw;
  top:0;
  width: 80vw;
  height: 100%;
  background-color: #d3d3d3;
  overflow: auto;
  transform-origin: 0 0;
}

$btn-side: .45 * $left-width;

.tool-panel {
  padding:10%;
  background-color:#aaa;
  margin:2%;
}

.component-button {
  box-sizing:border-box;
  border:0;
  border-radius:3%;
  background-color:#ddd;
  margin:1%;
  width: $btn-side;
  height: $btn-side;
}

.btn-arrange {
  width:90%;
  margin-bottom:2%;
  font-size:0.8vw;
}

.button-icon {
  height:0.5 * $btn-side;
  top:0.25 * $btn-side;
}

.active-element {
  border: 3px dashed black !important;
}

/*.browser-icon*/