.resize-drag {
  display: inline-block;
  position: absolute;
  /* This makes things *much* easier */
  box-sizing: border-box;
}

component {
  position: absolute;
  outline: none !important;
  overflow: hidden;
  background-color: white;
}

.base-layer {
  position: absolute;
  height: 400px;
  width: 600px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #cccccc;
  background-color: white;
}

.browser-nav {
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #dbdbdb;
  padding-left: 5px;
  border-bottom: 1px solid #cccccc;
}

.left {
  width: 100%;
  height: 100%;
}

.right {
  width: 100%;
  height: 100%;
}

.browser-input {
  position: absolute;
  display: inline-block;
  top: 10px;
  left: 70px;
  width: 70%;
  height: 30px;
  border-radius: 3px;
  background-color: white;
  border-bottom: 1px solid #cccccc;
}

.browser-btns {
  white-space : nowrap; /* this does the trick */
  overflow : hidden;
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  height: 100%;
  width: 100px;
  padding: 15px;
}

.browser-btn {
  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border-bottom: 1px solid #cccccc;
}

.close-btn {
  background-color: #FC605B;
}

.hide-btn {
  background-color: #FDBC40;
}

.full-btn {
  background-color: #34C646;
}

.phone {
  box-sizing: content-box;
  position: absolute;
  height: 544px;
  width: 266px;
  border-radius: 39px;
  overflow: hidden;
  border: 8px solid black;
}

.phone-top {
  top: 0;
  left: 0;
  height: 65px;
  background-color: black;
  padding-top: 25px;
}

.speaker {
  width: 45px;
  height: 10px;
  border-radius: 30px;
  background-image: -webkit-linear-gradient(top, black, #454545);
  background-image: linear-gradient(top, black, #393939);
  border: 1px solid #1A1A1A;
  box-shadow: inset 0px 4px 1px 1px #1A1A1A, inset 0px -2px 1px 1px rgba(234, 218, 217, 0.03);
  margin: auto;
}

.phone-screen {
  background-color: transparent;
  height: 100%;
  margin-bottom: -130px;
}

.phone-bottom {
  position: relative;
  bottom: 0;
  left: 0;
  height: 65px;
  background-color: black;
  .home-button {
    position: absolute;
    top: 10px;
    right: 0;
    left: 0;
    margin: auto;
    padding: 13px;
    background-image: -webkit-linear-gradient(top, black, #454545);
    background-image: linear-gradient(top, black, #454545);
    border-radius: 50%;
    border: 1px solid #1A1A1A;
    box-shadow: inset 0px 4px 1px 1px #1A1A1A, inset 0px -2px 1px 1px rgba(234, 218, 217, 0.03);
    height: 45px;
    margin: auto;
    width: 45px;
    .home-button-square {
      background-color: transparent;
      border: 1px solid #575656;
      border-radius: 4px;
      width: 15px;
      height: 15px;
      top: 30px;
      right: 0;
      left: 0;
      margin: auto;
    }   
  }
}

.save-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.table-component {
  border: 1px solid #cccccc;
  color: black;
  text-align: center;
  height: 200px;
  width: 400px;
  margin-bottom: 0;
  background-color: white;
  /*background-color: transparent;*/
}

.box {
  border: 1px solid #cccccc;
  height: 50px;
  width: 50px;
}

.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #cccccc;
}

.list {
  background: transparent !important;
  height: 100px;
  width: 100px;
  p {
    display: inline;
    font-size: 1.5em;
  }
  li {
    float: left;
    clear: left;
    font-size: 1em;
  }
}

.button-component {
  border: 1px solid #cccccc;
  height: 60px;
  width: 50px;
}

.text-box {
  height: 60px;
  width: 120px;
  min-height:2em;
  min-width:1em;
  overflow:hidden;
  background: transparent !important;
  border-style: solid !important;
  border-width: 0;
  box-sizing: content-box;
  text-align: left;
  div {
    outline: none;
  }
}

.image-box {
  height: 200px;
  width: 200px;
  background: url('/images/placeholder.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-style: solid !important;
  border-width: 0;
  input {
    display: none;
  }
}

.image-box:hover {
  input {
    display: block;
  }
}