.resize-drag {
  display: inline-block;
  position: absolute;
  /* This makes things *much* easier */
  box-sizing: border-box;
}

base-layer {
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 4px;
  padding: 20px;
  height: 400px;
  width: 400px;
  background-size: 20px 20px;
  background-image: linear-gradient(to right, #7da0ab 1px, transparent 1px), linear-gradient(to bottom, #7da0ab 1px, transparent 1px);
}

table-component {
  border: 1px solid black;
  height: 120px;
  width: 240px;
}

.table-component {
  background-color: white;
  color: black;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-bottom: 0;

  #first-row {
    background-color: #6D7375;
  }
}
