<div id="wrapper">
    <!-- Left Sidebar -->
    <div id="left-sidebar">
        <button class="component-button" ng-click="createElement('base-layer')"><span><img class="button-icon" src='/images/browser.svg'></span></button>
        <button class="component-button" ng-click="createElement('text-box')"><span><img class="button-icon" src='/images/write.svg'></span></button>
        <button class="component-button" ng-click="createElement('box')"><span><img class="button-icon" src='/images/box.svg'></span></button>
        <button class="component-button" ng-click="createElement('table')"><span><img class="button-icon" src='/images/table.svg'></span></button>
        <button class="component-button" ng-click="createElement('circle')"><span><img class="button-icon" src='/images/circle.svg'></span></button>
        <button class="component-button" ng-click="createElement('triangle')"><span><img class="button-icon" src='/images/triangle.svg'></span></button>
        <button class="component-button" ng-click="createElement('list')"><span><img class="button-icon" src='/images/list.svg'></span></button>
        <button class="component-button" ng-click="createElement('image-box')"><span><img class="button-icon" src='/images/photo.svg'></span></button>
        <button class="component-button" ng-click="createElement('button')"><span><img class="button-icon" src='/images/button.svg'></span></button>
    </div>

    <!-- Workspace -->
    <div id="wireframe-board">
    </div>



<!-- Right Sidebar -->
<div id="right-sidebar">
	<div class='tool-panel'>
		<div class='form-group'>
			<label for="color">Color</label>
			<div id="row">
			<input id="color" type="text" ng-model="activeColor" style="background-color:{{activeColor}}"><button class="btn" colorpicker ng-model="activeColor">Choose color</button>
			</div>
		</div>
	</div>
	<div class="tool-panel">
		<div class="form-group">
			<label for="opacity">Opacity</label>
			<input type="text" id="opacity" ng-model="activeOpacity"/>
		</div>
	</div>
	<div class="tool-panel">
			<label>Arrange</label>
				<button class="btn btn-arrange">Move Forward</button>
				<button class="btn btn-arrange">Bring to Front</button>
				<button class="btn btn-arrange">Move Backward</button>
				<button class="btn btn-arrange">Send to Back</button>
			</div>
		</div>
	</div>

</div>