$sideBarWidth: 250px;
$sideBarHeight: 100%;

.modal-dialog {
	padding-top: 80px;
}

.alltheprojects {
	margin: auto;
	margin-left: 15%;
}

.footer-basic-centered {
	padding-bottom: 0;
	margin-bottom: 0;
}

#userPage {
	padding-left: 60px;

	select {
		min-width:60%;
	}

	.container {
		text-align: center;
	}	

	.form-group {
		text-align:left;
		margin-bottom:10px;
	}

	.project-table {

		thead td{
			background-color:#444;
			font-size:1.2em;
			color:#aaa;
		}

		width:100%;

		tbody tr {
			width:100%;

			&:nth-child(odd){
				background-color:#aaa;
			}

			&:nth-child(even){
				background-color:#888;
			};

			&:hover {
				background-color:#555;
				color:#fff;
			};

		}

		td {
			width:50%;
		}
	}

	#projectDetails {
		text-align: left;
		margin-left: 25%;
		td {
			padding-left: 1em;
		}
	}

	#activeSnapshot{
		width:100%;
		border: 1px solid black;
	}

	$tabPadding: 0.3em;
	#goHist a {
		padding: $tabPadding;
	}

	#goAlternate a {
		padding: $tabPadding;
	}

	.framesList {
		text-align: center;
		background-color:$panelGrey;
		padding: 5px;
		overflow:hidden;
	}
	
	.individualFrame {
		margin-top: 0.2em;
	}

	.masterPanel {
		width: 100%;
		padding: 0;
		font-size:1.2em;
		margin-top: 1.5em;
		list-style: none;
		text-align: center;
	}

	.masterTitle {
		background-color:$liquid;
	}

	.masterScreenshot {
		background-color:$liquidUp;
		padding: 5px;
		overflow:hidden;
	}

	#newProject {
		
		.form-group {
		 	width: 70%;
		}

		.form-control {
			width: 100%;
		}
	}

	#newProjectSubmit {
		width: 70%;
	}
}

.accordion-team-group {
	width: 20%;
}

/*.scroller {
	overflow:scroll;
}*/

.project-flex {
	margin: 20px;
}

.project-card {
	height: 450px;
}

.project-card-description {
	text-overflow: ellipsis;
}

.projectPage {
	text-align:center;
	height:$sideBarHeight;
	/*overflow:scroll;*/
}

.container-fluid {
	padding: 0;
}

.projectBox {
	margin:10px;
	padding:10px;
	text-align:center;
	height:270px;
	background-color:$panelGrey;
	box-shadow: 0 10px 6px -6px #777;

	img {
		max-width:80%;
		height:60%;
		margin: auto;
	}
}

.bottom-padding{
	padding-bottom:50px;
}

.boxActive:hover{
	background-color:#555;
			color:#fff;
			h4 {
				color: $sunshine;
			}
}