$panelGrey:#E4E4E4;
$panelGreyDark:#888;
$headerGrey:#555;
$headerText:#fff;
$liquid:#558FBC;
$liquidUp:#66a0CD;
$warm:#FF7B47;
$cool:#3ACF91;


* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
  /*overflow:hidden;*/
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.logo {
  vertical-align: middle;
  height: 3em;
  margin-top: 0.3em;
}


#main {
	margin: 0;
	padding: 0;
  padding-top: 60px;
  height:100%;
  width:100%;
}

.btn-cool {
  background: $cool;
}

.btn-warm {
  background: $warm;
}

.btn-liquid {
  background: $liquid;
}

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    color: grey;
}

.panel-heading a.collapsed:after {
    content:"\e080";
}

.pointer-hover {
  cursor: pointer;
}

@import 'directives/main';
@import 'home/main';
@import 'tutorial/main';
@import 'login/main';
@import 'editor/main';
@import 'dashboard/main';
@import 'signup/main';