* {
  box-sizing: border-box;
}

window {
	overflow:hidden;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
	margin: 0;
	padding: 0;
  height:100%;
  width:100%;
}

.btn-cool {
  background: #3ACF91;
}

.btn-warm {
  background: #FF7B47;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'editor/main';
@import 'user/user';
@import 'signup/main';