<div class="table-component delete-hoverable">
	<table class="table table-bordered table-component">
		<tr class="first">
		</tr> 
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td> 
		</tr> 
		<tr> 
			<td></td>
			<td></td>
			<td></td>
			<td></td> 
		</tr> 
		<tr> 
			<td></td>
			<td></td>
			<td></td>
			<td></td>  
		</tr> 
		<tr> 
			<td></td>
			<td></td>
			<td></td>
			<td></td>  
		</tr>
		<button type="button" class="hover-delete-btn" ng-click="deleteElement($event)">
 		<i class="fa fa-trash" id=""></i></button>
	</table>
	 
</div>