<div class="table-component delete-hoverable">
	<table class="table table-bordered table-component">
		<td></td>
		<td></td>
		<td></td>
		<td></td> 
	</tr> 
	<tr> 
		<td></td>
		<td></td>
		<td></td>
		<td></td> 
	</tr> 
	<tr> 
		<td></td>
		<td></td>
		<td></td>
		<td></td>  
	</tr> 
	<tr> 
		<td></td>
		<td></td>
		<td></td>
		<td></td>  
	</tr>
	  <button type="button" class="hover-delete-btn">
  <i class="fa fa-trash" id="" ng-click="deleteElement($event)"></i></button> 
	<tr id="first-row">  
</table>
</div>